*.o
*.cmx
*.cmo
*.cmi
*.cmxa
*.cma
*~
*.output
*.spec
*.bin
*.byt
test.p
test.dk
test.lua
zenon
.depend
.config_var
checksum.ml
lexcoq.ml
lextptp.ml
lexzen.ml
parsecoq.ml
parsecoq.mli
parsetptp.ml
parsetptp.mli
parsezen.ml
parsezen.mli
