*.o
*.cmx
*.cmo
*.cmi
*.cmxa
*.cma
*~
*.output
*.spec
*.bin
*.byt
*.vo
*.glob
test.p
test.dk
test.lua
zenon
.depend
.config_var
config.ml
checksum.ml
lexcoq.ml
lexdk.ml
lextptp.ml
lexzen.ml
parsecoq.ml
parsecoq.mli
parsedk.ml
parsedk.mli
parsetptp.ml
parsetptp.mli
parsezen.ml
parsezen.mli
test_dedukti/
Axioms/
tptp/
TPTP*.tgz
*.dko
dkresults/
statistics*